<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
    <title>404 page</title>
</head>

<body>
    <main class="container">
        <h1>404 NOT FOUND</h1>
        
        <form action="{{url_for('index')}}" method="get">
            <input type="submit" value="return">
            </form>
    </main>
</body>

</html>