<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Python Scraper</h1>
    <!-- <form>
        <input type="text" placeholder="Search">
        <input type="button" value="search">
    </form> -->
    <form action="" method="POST" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{form.query.label}}
            {{form.query()}}
        </p>

        {% for error in form.query.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
        <p>
            {{form.submit()}}
        </p>
    </form>

</body>

</html>